mocks/T-T/competent_gba.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.1-1 (tags/2.2.1-1-7267; 2012-08-30T14:04:51+0000) JAXWS-RI/2.2.7 JAXWS/2.2 svn-revision#unknown. --><definitions targetNamespace="http://www.competent.nl/gbav/v1" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.competent.nl/gbav/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--
*****************************************************************************************
    TYPES
*****************************************************************************************
-->
    <types>
        <xsd:schema targetNamespace="http://www.competent.nl/gbav/v1" version="0.1">
            <xsd:complexType name="identificatie">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="indicatie" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="nl">De indicatie van de afnemer.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="interneAfnemer" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="nl">Optioneel: De naam van de interne afnemer. Indien er geen interne afnemer is opgegeven wordt er default de naam van de afnemer gebruikt.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="gebruiker" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="nl">De inlog naam van de gebruiker zoals deze is gekend in Competent.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="profielNaam" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="nl">De naam van het profiel waarmee de vraag wordt gesteld.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="internKenmerk" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="nl">Optioneel: een eigen intern kenmerk.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="rubriek">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="nummer" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="nl">Rubrieknummer zonder het categorienummer bestaande uit 4 cijfers waarvan de eerste 2 het groepsnummer en de laatste 2 het rubriekvolgnummer bevatten en zoals ze gedefinieerd zijn door het BPR.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="naam" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="nl">De omschrijving van de rubriek.  Deze omschrijving wordt enkel ingevuld in de response.
                                Voor de request wordt enkel het rubrieknummer gebruikt en wordt de rubrieknaam genegeerd.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="waarde" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="nl">De waarde van de rubriek waarop moet gezocht worden.
                                Voor bepaalde rubrieken moet hier een code worden ingevuld.
                                (Bijvoorbeeld voor Rubriek 010320 - Geboorteplaats dient de code 1701 opgegeven worden voor Eindhoven)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="omschrijving" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="nl">Voor rubrieken die een code als waarde hebben zal dit element als waarde de omschrijving bevatten
                                die volgens de GBA tabellen bij de code hoort.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="rubrieken">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="rubriek" type="tns:rubriek"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="categorie">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="nummer" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="nl">Het nummer van de categorie bestaande uit 2 cijfers, zoals ze gedefinieerd zijn door het BPR.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="naam" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="nl">De naam van de categorie. Deze omschrijving wordt enkel ingevuld in de response.
                                Voor de request wordt enkel het rubrieknummer gebruikt en wordt de rubrieknaam genegeerd.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="rubrieken" type="tns:rubrieken"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="categorieen">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="categorie" type="tns:categorie"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="persoon">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="categorieen" type="tns:categorieen"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="resultaten">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="persoon" type="tns:persoon"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="gbavVraag">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="identificatie" type="tns:identificatie"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="categorieen" type="tns:categorieen"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="adresVraag" type="xsd:boolean"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="historieVraag" type="xsd:boolean"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="plaatsIndicatieVerzoek" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gbavAntwoord">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="identificatie" type="tns:identificatie"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="resultaten" type="tns:resultaten"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="indicatieVerzoekResultaat" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="gbavFout">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="0" name="foutLetter" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="foutCode" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="foutOmschrijving" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="internKenmerk" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
<!--
*****************************************************************************************
    MESSAGES
*****************************************************************************************
-->
    <message name="gbavVraag">
        <part element="tns:gbavVraag" name="parameters"/>
    </message>
    <message name="gbavAntwoord">
        <part element="tns:gbavAntwoord" name="parameters"/>
    </message>
    <message name="gbavException">
        <part element="tns:gbavFout" name="fault"/>
    </message>
<!--
*****************************************************************************************
    PORT TYPES
*****************************************************************************************
-->
    <portType name="CompetentPort">
        <operation name="stelGbavVraag">
            <input message="tns:gbavVraag"/>
            <output message="tns:gbavAntwoord"/>
            <fault message="tns:gbavException" name="gbavException"/>
        </operation>
    </portType>
<!--
*****************************************************************************************
    BINDINGS
*****************************************************************************************
-->
    <binding name="CompetentBinding" type="tns:CompetentPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="stelGbavVraag">
            <soap:operation soapAction="stelGbavVraag" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="gbavException">
                <soap:fault name="gbavException" use="literal"/>
            </fault>
        </operation>
    </binding>
<!--
*****************************************************************************************
    SERVICES
*****************************************************************************************
-->
    <service name="CompetentService">
        <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
        <port binding="tns:CompetentBinding" name="CompetentPort">
            <soap:address location="https://acceptatie.vertrouwdverbonden.nl:443/Competent/competentService"/>
        </port>
    </service>
</definitions>
